<div class="fixed bottom-6 right-6 z-50 flex items-center justify-center font-heading">
  
  <div class="absolute transition-all duration-300 ease-out pointer-events-none flex items-center justify-center"
       [ngClass]="isOpen() ? 'translate-x-[-4rem] opacity-100 pointer-events-auto' : 'scale-50 opacity-0'">
    <button (click)="changeTheme('red')" 
            class="btn-astro w-11 h-11 rounded-full flex items-center justify-center border bg-pure-black border-mars-red text-mars-red shadow-[0_0_10px_rgba(239,68,68,0.3)]"
            [class.ring-2]="theme() === 'red'" [class.ring-mars-red]="theme() === 'red'">
      <i class="fa-solid fa-eye text-base"></i>
    </button>
  </div>

  <div class="absolute transition-all duration-300 ease-out pointer-events-none flex items-center justify-center"
       [ngClass]="isOpen() ? 'translate-x-[-2.83rem] translate-y-[-2.83rem] opacity-100 pointer-events-auto' : 'scale-50 opacity-0'">
    <button (click)="changeTheme('dark')" 
            class="btn-astro w-11 h-11 rounded-full flex items-center justify-center border bg-space-blue-dark border-white/10 text-cosmic-silver shadow-md"
            [class.ring-2]="theme() === 'dark'" [class.ring-nebula-purple]="theme() === 'dark'">
      <i class="fa-solid fa-moon text-base"></i>
    </button>
  </div>

  <div class="absolute transition-all duration-300 ease-out pointer-events-none flex items-center justify-center"
       [ngClass]="isOpen() ? 'translate-y-[-4rem] opacity-100 pointer-events-auto' : 'scale-50 opacity-0'">
    <button (click)="changeTheme('light')" 
            class="btn-astro w-11 h-11 rounded-full flex items-center justify-center border bg-white border-slate-300 text-slate-900 shadow-md"
            [class.ring-2]="theme() === 'light'" [class.ring-slate-900]="theme() === 'light'">
      <i class="fa-solid fa-sun text-base"></i>
    </button>
  </div>

  <div class="absolute transition-all duration-300 ease-out pointer-events-none flex items-center justify-center"
       [ngClass]="isOpen() ? 'translate-y-[-7.5rem] opacity-100 pointer-events-auto' : 'scale-50 opacity-0'">
    <button (click)="toggleScreenLantern()" class="btn-astro w-11 h-11 rounded-full flex items-center justify-center border"
            [ngClass]="{
              'bg-white border-slate-300 text-slate-400': theme() === 'light' && !screenLantern(),
              'bg-slate-900 border-slate-900 text-white font-bold': theme() === 'light' && screenLantern(),
              
              'bg-space-blue-light border-white/10 text-slate-500': theme() === 'dark' && !screenLantern(),
              'bg-nebula-purple border-transparent text-white font-bold shadow-md shadow-indigo-600/20': theme() === 'dark' && screenLantern(),
              
              'bg-mars-red-pure border-mars-red-dark/40 text-mars-red/40': theme() === 'red' && !screenLantern(),
              'bg-red-950 border-mars-red text-mars-red font-bold shadow-[0_0_10px_rgba(239,68,68,0.4)]': theme() === 'red' && screenLantern()
            }">
      <i class="fa-solid fa-display text-base" [class.animate-pulse]="screenLantern()"></i>
    </button>
  </div>

  <div class="absolute transition-all duration-300 ease-out pointer-events-none flex items-center justify-center"
       [ngClass]="isOpen() ? 'translate-x-[-3.17rem] translate-y-[-6.8rem] opacity-100 pointer-events-auto' : 'scale-50 opacity-0'">
    <button (click)="toggleBackLantern()" class="btn-astro w-11 h-11 rounded-full flex items-center justify-center border"
            [ngClass]="{
              'bg-white border-slate-300 text-slate-400': theme() === 'light' && !backLantern(),
              'bg-slate-900 border-slate-900 text-white font-bold': theme() === 'light' && backLantern(),
              
              'bg-space-blue-light border-white/10 text-slate-500': theme() === 'dark' && !backLantern(),
              'bg-nebula-purple border-transparent text-white font-bold shadow-md shadow-indigo-600/20': theme() === 'dark' && backLantern(),
              
              'bg-mars-red-pure border-mars-red-dark/40 text-mars-red/40': theme() === 'red' && !backLantern(),
              'bg-red-950 border-mars-red text-mars-red font-bold shadow-[0_0_10px_rgba(239,68,68,0.4)]': theme() === 'red' && backLantern()
            }">
      <i class="fa-solid fa-lightbulb text-base" [class.animate-pulse]="backLantern()"></i>
    </button>
  </div>

  @switch (theme()) {
    @case ('light') {
      <button (click)="toggleMenu()" class="btn-astro w-14 h-14 rounded-full flex items-center justify-center border border-slate-900 bg-slate-900 text-white shadow-md z-10">
        <i class="fa-solid text-xl" [ngClass]="isOpen() ? 'fa-xmark' : 'fa-bars'"></i>
      </button>
    }
    @case ('dark') {
      <button (click)="toggleMenu()" class="btn-astro w-14 h-14 rounded-full flex items-center justify-center border border-transparent bg-nebula-purple text-white shadow-lg z-10 hover:bg-indigo-700">
        <i class="fa-solid text-xl" [ngClass]="isOpen() ? 'fa-xmark' : 'fa-bars'"></i>
      </button>
    }
    @case ('red') {
      <button (click)="toggleMenu()" class="btn-astro w-14 h-14 rounded-full flex items-center justify-center border border-mars-red bg-pure-black text-mars-red shadow-[0_0_15px_rgba(239,68,68,0.4)] z-10">
        <i class="fa-solid text-xl" [ngClass]="isOpen() ? 'fa-xmark' : 'fa-bars'"></i>
      </button>
    }
  }

</div>